<% layout('layouts/boilerplate') %>

<main class="form-signin w-100 m-auto" style="max-width: 400px">
  <form action="/auth/register" method="POST" class="validated-form" novalidate>
    <h1 class="h3 mb-3 fw-normal text-center"><%=registerPage.titles.pleaseSignUp%></h1>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingFirstName" name="firstName" placeholder="First Name" required autofocus />
      <label for="floatingFirstName"><%=registerPage.labels.firstName%></label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingLastName" name="lastName" placeholder="Last Name" required />
      <label for="floatingLastName"><%=registerPage.labels.lastName%></label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingUsername" name="username" placeholder="Username" required />
      <label for="floatingUsername"><%=registerPage.labels.username%></label>
    </div>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="name@example.com" required />
      <label for="floatingEmail"><%=registerPage.labels.emailAddress%></label>
    </div>

    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required />
      <label for="floatingPassword"><%=registerPage.labels.password%></label>
    </div>

    <p class="text-muted small mb-3">
      <%=registerPage.descriptions.text1%>
      <span class="gdpr" data-bs-toggle="modal" data-bs-target="#staticBackdrop-privacypolicy"><%=registerPage.links.link1%></span>
      <%=registerPage.descriptions.text2%>
      <span class="gdpr" data-bs-toggle="modal" data-bs-target="#staticBackdrop-termsandconditions"> <%=registerPage.links.link2%></span>.
    </p>

    <button class="w-100 btn btn-lg btn-primary" type="submit"><%=registerPage.buttons.signUp%></button>
    <p class="mt-2 small text-center mb-3 text-muted">Already have an account? <a href="/auth/login">Log in</a></p>
  </form>
</main>

<div class="modal fade" id="staticBackdrop-privacypolicy" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel-privacypolicy" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="staticBackdropLabel-privacypolicy">
          <strong>Privacy Policy</strong>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body"><%- include('../policies/privacypolicy') %></div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop-termsandconditions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel-termsandconditions" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="staticBackdropLabel-termsandconditions">
          <strong>Terms and Conditions</strong>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body"><%- include('../policies/termsandconditions') %></div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>
