<% layout('layouts/boilerplate')%>


<style>
  .marker-icon {
    background-position: center;
    background-size: 22px 22px;
    border-radius: 50%;
    height: 22px;
    left: 4px;
    position: absolute;
    text-align: center;
    top: 3px;
    transform: rotate(45deg);
    width: 22px;
  }
  .marker {
    height: 30px;
    width: 30px;
  }
  .marker-content {
    background: #9b59b6 !important;
    border-radius: 50% 50% 50% 0;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 30px;
  }
  .marker-content::before {
    background: #ffffff;
    border-radius: 50%;
    content: "";
    height: 24px;
    margin: 3px 0 0 3px;
    position: absolute;
    width: 24px;
  }
</style>
<style>
  .mapboxgl-popup-tip {
    display: none !important;
  }
</style>

<!-- <div class="ad-container" style="height: 100px; width: 100%; background-color:lightgrey">

  <p>Advertisement text</p>
</div> -->

<div id="map" class="map" style="width: 100%; height: 400px"></div>

<div class="col-md-12 mt-3">
  
  <form action="/pets" method="GET" class="row mx-auto" role="search" id="filterForm">
    <!-- <h5 class="text-white text-center mt-2">Filter Pets</h5> -->
  <div class="d-flex justify-content-between mb-3">
    <div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <i class="bi bi-sliders"></i> <%=  petsLocale.filterBtn %></a>
    
    <!-- <a class="btn btn-warning d-none compare-btn" href="" role="button">
      <i class="bi bi-intersect"></i> <=  petsLocale.compareBtn %></a> -->
  </div>

  <div>
    <a class="btn btn-primary  ms-1" href="/pets/new"><%=  petsLocale.reportPetBtn %></a>
    <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Button with data-bs-target
    </button> -->
  </div>
  </div>

  <div class="collapse" id="collapseExample">
    <div class="row g-3">
      <div class="d-flex flex-column d-none">
        <p class="small text-muted">Distance-based search is available when your location is provided. Please wait a moment.</p>
        <span>Latitude: <input class="user-latitude" id="user-latitude" type="text" name="userlatitude" readonly></span>
        <span>Longitude: <input class="user-longitude" id="user-longitude" type="text" name="userlongitude" readonly></span>
        
      </div>

            <!-- Pet Status -->
            <div class="col-md-3">
              <label class="form-label"><%=  petsLocale.filterPetStatus %></label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="bi bi-question-diamond"></i>
                </span>       
                <select class="form-select" id="petStatus" name="petStatus">
                  <% statusOptions.forEach(option => { %>
                    <option value="<%= option.value %>">
                      <%= option.text %>
                    </option>
                  <% }); %>
                </select>
            </div>
          </div>

           <!-- Pet Species -->
       <div class="col-md-3">
        <label class="form-label"><%=  petsLocale.filterSpecies %></label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-diamond-half"></i>
          </span>       
          <select class="form-select" id="species" name="species">
            <% speciesOptions.forEach(option => { %>
              <option value="<%= option.value %>">
                <%= option.text %>
              </option>
            <% }); %>
          </select>
      </div>
    </div>
<!-- <p><= genderOptions %></p> -->

       <!-- Pet Gender -->
       <div class="col-md-3">
        <label class="form-label"><%=  petsLocale.filterPetGender %></label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-gender-ambiguous"></i>
          </span>   
          
          <select class="form-select" id="gender" name="gender" >
            <% genderOptions.forEach(option => { %>
              <option value="<%= option.value %>">
                <%= option.text %>
              </option>
            <% }); %>
          </select>

      </div>
    </div>
 <!-- Pet Breed -->
     <div class="col-md-3">
      <label class="form-label"><%=  petsLocale.filterBreed %></label>
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-x-diamond-fill"></i>
        </span>       
        <select class="form-select" id="petBreed" name="breed">
          <option value="<%= breedsOptions.all[0].value %>"><%= breedsOptions.all[0].text %></option>
          <optgroup label="<%= breedsOptions.catOptiongroupLabel[0].text %>">
            <% breedsOptions.cats.forEach(option => { %>
              <option value="<%= option.value %>">
                <%= option.text %>
              </option>
            <% }); %>
        
          </optgroup>
          <optgroup label="<%= breedsOptions.dogOptiongroupLabel[0].text %>">
            <% breedsOptions.dogs.forEach(option => { %>
              <option value="<%= option.value %>">
                <%= option.text %>
              </option>
            <% }); %>
          </optgroup>
         
        </select>
    </div>
  </div>

 
      <div class="col-md-3">
        <label class="form-label"><%=  petsLocale.filterPetColor %></label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-palette"></i>
          </span>       
          <select class="form-select" id="color" name="color">
            <% colorOptions.forEach(option => { %>
              <option value="<%= option.value %>">
                <%= option.text %>
              </option>
            <% }); %>
          </select>
      </div>
    </div>

 
      




      <div class="col-md-3">
        <label class="form-label" for="distance"><%=  petsLocale.filterDistance %></label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-rulers"></i></span>
          <input
            type="text"
            class="form-control distance"
            id="distance"
            min="0"
            name="maxDistance"
            value=""
          />
        </div>
      </div>

      <!-- Age -->
      <div class="col-md-3">
        <label class="form-label"><%=  petsLocale.filterPetAge %></label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-calendar2-heart"></i>
          </span>       
          <select class="form-select" id="age" name="age">
            <% ageOptions.forEach(option => { %>
              <option value="<%= option.value %>">
                <%= option.text %>
              </option>
            <% }); %>
          </select>
      </div>
    </div>

   

      <!-- Coat type -->
      <div class="col-md-3">
        <label class="form-label"><%=  petsLocale.filterCoatType %></label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-wind"></i>
          </span>       
          <select class="form-select" id="coat" name="coat">
            <% coatOptions.forEach(option => { %>
              <option value="<%= option.value %>">
                <%= option.text %>
              </option>
            <% }); %>
          </select>
      </div>
    </div>




       <div class="col-md-3">
        <label class="form-label"><%=  petsLocale.filterPetSize %></label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-arrows-angle-expand"></i>
          </span>
        
          <select class="form-select" id="size" name="size">
            <% sizeOptions.forEach(option => { %>
              <option value="<%= option.value %>">
                <%= option.text %>
              </option>
            <% }); %>
          </select>
      </div>
    </div>


      <div class="col-md-3">
        <label class="form-label" for="identifier"><%=  petsLocale.filterIdentifier %></label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-fingerprint"></i></span>
          <input
            type="text"
            class="form-control identifier"
            id="identifier"
            min="0"
            name="identifier"
            value="<%= identifier || '' %>"
          />
        </div>
      </div>

      <div class="col-md-3">
        <label class="form-label"><%=  petsLocale.filterLocation %></label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-geo-alt-fill"></i>
          </span>       
          <select class="form-select" id="region" name="selectedRegion">
            <option value="<%= regionOptions.all[0].value %>"><%= regionOptions.all[0].text %></option>
            <optgroup label="City">
            <% regionOptions.city.forEach(option => { %>
              <option value="<%= option.value %>">
                <%= option.text %>
              </option>
            <% }); %>
          </optgroup>
          <optgroup label="Municipality">
            <% regionOptions.municipality.forEach(option => { %>
              <option value="<%= option.value %>">
                <%= option.text %>
              </option>
            <% }); %>
          </optgroup>
          </select>
      </div>
    </div>

      <!-- Lost Date -->
      <div class="col-md-3">
        <label class="form-label" for="lostdate"><%=  petsLocale.filterLostDate %></label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
          <input
            type="date"
            class="form-control lostdate"
            id="lostdate"
            min="0"
            name="lostdate"
            value="<%= lostdate || '' %>"
          />
        </div>
      </div>



      <!-- <div class="col-md-12">
        <div class="d-flex my-2">
          <div class="form-check form-switch me-3">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              name="petStatus"
              value="missing"
              checked
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >Show missing pets</label
            >
          </div>
          <div class="form-check form-switch me-3">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault2"
              name="petStatus"
              value="found"
              
            />
            <label class="form-check-label" for="flexSwitchCheckDefault2"
              >Show found pets</label
            >
          </div>
        </div>
      </div> -->

      <div class="col-md-12 my-3 d-flex ">
        <button class="btn btn-warning search-form-btn  me-2 " type="submit"><i class="bi bi-search"></i> <%=  petsLocale.searchBtn %></button>
        <button class="btn btn-secondary reset-form-btn"><i class="bi bi-eraser-fill"></i> <%=  petsLocale.clearBtn %></button>
      </div>
    </div>
 
  </div>
 
  </form>
</div>

<!-- <h1>All Pets</h1> -->


<div class="row ">
  <% if (pets.length > 0) {%>
  <div class="col-md-12 mb-3">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
      <% for (let pet of pets) { %>
      <div class="col">
      



          <div class="card shadow-sm pet-card" >
            <a
            href="/pets/<%=pet._id%>"
            style="text-decoration: none; color: #d4d4d4"
          >
            <div>

            <% if(pet.images.length) {%>

            <!-- <img src="<=pet.image.url%>" alt="<=pet.title%>" /> -->
            <img
              src="<%=pet.images[0].url%>"
              class="bd-placeholder-img card-img-top"
              alt=""
              width="100%"
              max-height="225"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            />

            <% } else { %>
            <img class="img-fluid" src="/images/placeholder.jpg" alt="" />

            <% } %>
          </div>
        </a>

        <div class="card-body">
          <div class="row">
            <div class="col-10  d-flex justify-content-between align-items-center">
              <p class="card-text pet-latitude d-none"><%=pet.latitude%></p>
              <p class="card-text pet-longitude d-none"><%=pet.longitude%></p>

              <!-- <div class="d-flex"> -->
                <small class="text-body-secondary d-flex"
                ><div data-petcoords="<%=pet.location.coordinates %>" class="petButtonZoom" style="cursor: pointer;"><i class="bi bi-geo-alt-fill" style="pointer-events: none;"></i></div>
                <div class="distance-text mx-2">Calculating...</div></small
              >
                
              <!-- </div> -->
            </div>

            <div class="col-2   d-flex justify-content-end align-items-center">
              <!-- <div class="form-check text-secondary">
                <input class="form-check-input compare-checkbox d-none" type="checkbox" value="" id="pet_<%=pet._id%>" style="cursor: pointer;">
                <label class="form-check-label" for="pet_<%=pet._id%>" style="cursor: pointer;">
                  <i class="bi bi-intersect"></i>
                </label>
              </div> -->
            </div>
            <!-- row -->
          </div>
        </div>
        


          </div>



       
      </div>
      <% } %>
    </div>
  </div>
  <% } else { %>
  <div class="col-md-12">
    <p class="text-center">
      No matching pets found. Please adjust your search criteria.
    </p>
  </div>
  <% } %>
</div>

<!-- TOP PAGINATION ON MAP-->
<p class="d-none current-page"><%= currentPage %></p>
<div class="col-md-12">
  <nav class="mt-5" aria-label="Page navigation">
    <ul class="d-flex justify-content-center" style="padding: 0">
      <div class="custom-page-link prev" style="width: 120px;text-align: center; ">
        <a
         
          class="btn btn-primary  px-3 custom-page-link <%= currentPage <= 1 ? 'disabled' : '' %>"
          href="/pets?page=<%= currentPage - 1  %>&limit=<%= limitPerPage %>"
          aria-label="Previous"
        >
          <span aria-hidden="true"><i class="bi bi-arrow-left"></i><span id="d-none d-sm-inline-block"></span>
        </a>
      </div>

      <div class=" custom-page-link next "  style="width: 120px; text-align: center;">
        <a
        
          class="btn btn-primary px-3 custom-page-link <%= currentPage >= totalPages ? 'disabled' : '' %>"
          href="/pets?page=<%= currentPage < totalPages ? currentPage + 1 : currentPage  %>&limit=<%= limitPerPage %>"
          aria-label="Next"
        >
          <span id="d-none d-sm-inline-block"></span
          ><span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
        </a>
      </div>
    </ul>
  </nav>
</div>

<!-- COMPARE NEW -->
<style>
  #comparisonContainer {
    position: fixed;
    bottom: 20px; /* Adjust the value to change the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .comparisonBox {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 5px;

  }
  
</style>
<!-- Comparison container -->
<!-- <div id="comparisonContainer" style="width:200px; height:auto;">

  <div >
<div class="d-flex flex-column">
  <div class="d-flex justify-content-center" >
 
    <a class="btn mb-2 btn-sm btn-warning d-none compare-btn" href="" role="button">
      <i class="bi bi-intersect"></i> <%=  petsLocale.compareBtn %></a>
  
  </div>
  
  <div class="d-flex">

  
  <div class="comparisonBox">
  <img src="<%=pets[0].images[0].thumbnail %>" class="img-thumbnail" alt="" />
 
  </div>
  <div class="comparisonBox">
    <img src="<%=pets[1].images[0].thumbnail %>" class="img-thumbnail" alt="" />
    
  </div>
</div>
</div>

</div>
<button class="btn btn-sm btn-secondary" style="position: absolute; border-radius: 50%; top: -1rem; right: -1rem;" id="cancelCompareBtn"><i class="bi bi-x"></i></button>
</div> -->
<!-- PAGINATION v2-->
<!-- <div class="col-md-12 d-none">
  <nav class="mt-5">

    <ul class="d-flex justify-content-end">

      <div class="d-flex align-items-center">
      <div class="page-item">
        <input
          class="custom-pagination-value"
          id="inputPageNumber"
          type="text"
          min="1"
          max="<%=totalPages%>"
          style="border: 1px solid #cfd9e0;
          width: 50px;
          height: 33px;
          text-align: center;
          padding: 0;
          margin: 0 10px 0 0;"
          value="<%=currentPage %>"
        />
      </div>
 

      <div class="">
        <input class="custom-pagination total-pages" value="of <%=totalPages%>" readonly style="border: none; outline: none; max-width: 3rem">
      </div>

      <div class=" custom-page-link prev" style="margin-right: 2px;">
        <a
        
          class="btn btn-secondary btn-sm custom-page-link <%= currentPage <= 1 ? 'disabled' : '' %>"
          href="/pets?page=<%= currentPage - 1  %>&limit=<%= limitPerPage %>"
          aria-label="Previous"
        >
          <span aria-hidden="true"><i class="bi bi-caret-left-fill"></i></span
          ><span class="d-none d-sm-inline-block"></span>
        </a>
      </div>
      <div class=" custom-page-link next"  style="margin-left: 2px;">
        <a
        
          class="btn btn-secondary btn-sm custom-page-link <%= currentPage >= totalPages ? 'disabled' : '' %>"
          href="/pets?page=<%= currentPage < totalPages ? currentPage + 1 : currentPage  %>&limit=<%= limitPerPage %>"
          aria-label="Next"
        >
          <span class="d-none d-sm-inline-block"></span
          ><span aria-hidden="true"
            ><i class="bi bi-caret-right-fill"></i
          ></span>
        </a>
      </div>
    </div>
    </ul>
  </nav>
</div> -->

<!-- PAGINATION v3-->
<!-- <div class="col-md-12">
  <nav class="mt-5" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item custom-page-link prev">
        <a
          style="border: none"
          class="page-link custom-page-link <= currentPage <= 1 ? 'disabled' : '' %>"
          href="/pets?page=<= currentPage - 1  %>&limit=<= limitPerPage %>"
          aria-label="Previous"
        >
          <span aria-hidden="true"><i class="bi bi-caret-left-fill"></i></span
          ><span class="d-none d-sm-inline-block">Prev</span>
        </a>
      </li>
      <li class="page-item">
        <p class="page-link custom-pagination disabled">Page</p>
      </li>
      <li class="page-item">
        <input
          class="page-link custom-pagination-value"
          type="text"
          min="1"
          max="<=totalPages%>"
          style="width: 3rem"
          value="<=currentPage %>"
        />
      </li>
      <li class="page-item">
        <p class="page-link custom-pagination disabled">
          of <span class="total-pages"><=totalPages%></span>
        </p>
      </li>
      <li class="page-item">
        <button class="btn btn-warning pagination-btn">Go</button>
      </li>
      <li class="page-item custom-page-link next">
        <a
          style="border: none"
          class="page-link custom-page-link <= currentPage >= totalPages ? 'disabled' : '' %>"
          href="/pets?page=<= currentPage < totalPages ? currentPage + 1 : currentPage  %>&limit=<= limitPerPage %>"
          aria-label="Next"
        >
          <span class="d-none d-sm-inline-block">Next</span
          ><span aria-hidden="true"
            ><i class="bi bi-caret-right-fill"></i
          ></span>
        </a>
      </li>
    </ul>
  </nav>
</div> -->

<!-- <script>
  let checkboxMissing = document.querySelector("#flexSwitchCheckDefault");
  let checkboxFound = document.querySelector("#flexSwitchCheckDefault2");
  checkboxMissing.addEventListener("change", () => {
    if (checkboxMissing.checked == true) {
      console.log("nothing hapens");
      checkboxFound.checked = false;
    } 
  });

  checkboxFound.addEventListener("change", () => {
    if (checkboxFound.checked == true) {
      console.log("nothing hapens");
      checkboxMissing.checked = false;
    } 
  });
</script> -->


<script>
  if ("geolocation" in navigator) {
    let userLatitude = document.querySelector('#user-latitude')
    let userLongitude = document.querySelector('#user-longitude')
    // geolocation is available
    navigator.geolocation.getCurrentPosition((position) => {
      userLatitude.value = position.coords.latitude;
    
      userLongitude.value = position.coords.longitude;
      console.log('lat, lng', userLatitude, userLongitude)
    })}
</script>



<script>
  let compareCheckbox = document.querySelectorAll('.compare-checkbox');
  let compareBtn = document.querySelector('.compare-btn');
  let petsToCompare = [];

  compareCheckbox.forEach(item => {
    item.addEventListener('click', (e) => {
      if (e.target.checked) {
        let selectedPet = e.target.getAttribute('id');
        let petIdParts = selectedPet.split('_');
        let petId = petIdParts[petIdParts.length - 1];
        petsToCompare.push(petId);
        if (petsToCompare.length === 1) {
          compareBtn.classList.remove('d-none')
        }
      } else {
        let selectedPet = e.target.getAttribute('id');
        let petIdParts = selectedPet.split('_');
        let petIdToRemove = petIdParts[petIdParts.length - 1];
        let index = petsToCompare.indexOf(petIdToRemove);
        if (index !== -1) {
          petsToCompare.splice(index, 1);
        }
      }
    });
  });

  const comparePets = async () => {
    try {
      const selectedPets = petsToCompare.join(',');
      const url = `/compare/${selectedPets}`;
      console.log(url)
      const response = await fetch(url, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      });

      if (response.ok) {
        console.log('Comparison request sent successfully');
        console.log(response);
        // Handle the response from the server if needed
        // The compare page will be rendered in the response handler of the compare controller
        window.location.href = url;
      } else {
        throw new Error('Failed to send comparison request');
      }
    } catch (error) {
      console.error(error);
      // Handle error and display appropriate message
    }
  };

  compareBtn.addEventListener('click', async () => {
    if (petsToCompare.length === 2) {
      await comparePets();
    } else {
      console.log('Please select exactly 2 pets to compare.');
    }
  });
</script>




<!-- <script>
  let petButtonZoomAll = document.querySelectorAll(".petButtonZoom");
  petButtonZoomAll.forEach((item) => {
    
    item.addEventListener("click", (e) => {
      //var attributeValue = element.getAttribute("data-myattribute");
      
      let coords = e.target.dataset.petcoords;
      let coordsArray = coords.split(",");
      console.log('coordsArray', coordsArray)
  
      map.easeTo({
        center: coordsArray,
        zoom: 12,
      });
    });
  });
</script> -->

<script>
  let allPetCards = document.querySelectorAll(".pet-card");
  allPetCards.forEach((card) => {

    let petLat = card.querySelector(".pet-latitude").innerHTML;
    let petLng = card.querySelector(".pet-longitude").innerHTML;
    let newDist = card.querySelector(".distance-text");
    // add button on map to zoom to current location
    let userLat;
    let userLng;

    //card.addEventListener("click", (e)=> {
    //  let coords = e.target.dataset.servicecoords;
    //  let coordsArray = coords.split(",");
   // })







    if ("geolocation" in navigator) {
      // geolocation is available
      navigator.geolocation.getCurrentPosition((position) => {
        userLat = position.coords.latitude;
        userLng = position.coords.longitude;

        function DegreeToRadian(coordinate) {
          return (coordinate * Math.PI) / 180;
        }
        function CalculateDistance() {
          const latitude1 = DegreeToRadian(Number(userLat));
          const longitude1 = DegreeToRadian(Number(userLng));

          const latitude2 = DegreeToRadian(Number(petLat));
          const longitude2 = DegreeToRadian(Number(petLng));

          // The formula
          const latDiff = latitude2 - latitude1;
          const lonDiff = longitude2 - longitude1;
          const R = 6371000 / 1000;

          const a =
            Math.sin(latDiff / 2) * Math.sin(latDiff / 2) +
            Math.cos(latitude1) *
              Math.cos(latitude2) *
              Math.sin(lonDiff / 2) *
              Math.sin(lonDiff / 2);
          const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

          const d = R * c;

          const dist =
            Math.acos(
              Math.sin(latitude1) * Math.sin(latitude2) +
                Math.cos(latitude1) * Math.cos(latitude2) * Math.cos(lonDiff)
            ) * R;
          return dist.toFixed(2);
        }
        let result = CalculateDistance();

        newDist.innerHTML = `${result} km`;
        //newDist.innerHTML = `${result} km from you`;
      });
    }
  });
</script>

<style>
  .mapboxgl-popup-content {
    background-color: none !important;
    background: none !important;
    border: 3px solid white;
    border: none !important;
    box-shadow: none !important;
    border-radius: 50%;
    padding: 0;
    margin: 0;

    /*all: unset;*/
  }
</style>



<script>

  // Get the filter form element
  let filterForm = document.getElementById('filterForm');

  // Add an event listener to the form's submit event
  filterForm.addEventListener('submit', function(e) {
    // Get the selected filter values
    var petStatus = document.querySelector('#petStatus').value;
    var species = document.querySelector('#species').value;
    var gender = document.querySelector('#gender').value;
    var petBreed = document.querySelector('#petBreed').value;
    var color = document.querySelector('#color').value;
    var distance = document.querySelector('#distance').value;
    var age = document.querySelector('#age').value;
    var coat = document.querySelector('#coat').value;
    var size = document.querySelector('#size').value;
    var identifier = document.querySelector('#identifier').value;
    var region = document.querySelector('#region').value;
    var lostdate = document.querySelector('#lostdate').value;

    // Save the filter values to the local storage
    localStorage.setItem('petStatus', petStatus);
    localStorage.setItem('species', species);
    localStorage.setItem('gender', gender);
    localStorage.setItem('petBreed', petBreed);
    localStorage.setItem('color', color);
    localStorage.setItem('distance', distance);
    localStorage.setItem('age', age);
    localStorage.setItem('coat', coat);
    localStorage.setItem('size', size);
    localStorage.setItem('identifier', identifier);
    localStorage.setItem('region', region);
    localStorage.setItem('lostdate', lostdate);
  });



// Function to retrieve filter values from local storage
function retrieveFilterValues() {
  // Set the saved filter values from the local storage
  document.querySelector('#petStatus').value = localStorage.getItem('petStatus') || '';
  document.querySelector('#species').value = localStorage.getItem('species') || '';
  document.querySelector('#gender').value = localStorage.getItem('gender') || '';
  document.querySelector('#petBreed').value = localStorage.getItem('petBreed') || '';
  document.querySelector('#color').value = localStorage.getItem('color') || '';
  document.querySelector('#distance').value = localStorage.getItem('distance') || '';
  document.querySelector('#age').value = localStorage.getItem('age') || '';
  document.querySelector('#coat').value = localStorage.getItem('coat') || '';
  document.querySelector('#size').value = localStorage.getItem('size') || '';
  document.querySelector('#identifier').value = localStorage.getItem('identifier') || '';
  document.querySelector('#region').value = localStorage.getItem('region') || '';
  document.querySelector('#lostdate').value = localStorage.getItem('lostdate') || '';
}

 
    //let searchFormBtn = document.querySelector(".search-form-btn");
    let resetFormBtn = document.querySelector(".reset-form-btn")


    // Function to clear the form filter values
    function clearFormFilterValues() {
      document.querySelector('#petStatus').value = '';
      document.querySelector('#species').value = '';
      document.querySelector('#gender').value = '';
      document.querySelector('#petBreed').value = '';
      document.querySelector('#color').value = '';
      document.querySelector('#distance').value = '';
      document.querySelector('#age').value = '';
      document.querySelector('#coat').value = '';
      document.querySelector('#size').value = '';
      document.querySelector('#identifier').value = '';
      document.querySelector('#region').value = '';
      document.querySelector('#lostdate').value = '';
    }





// Event listener for the reset button
resetFormBtn.addEventListener("click", (e) => {
 // e.preventDefault();
  clearFormFilterValues();
});

const nextBtn = document.querySelector('.next')
const prevBtn = document.querySelector('.prev')
let currentPage = document.querySelector('.current-page').innerText

console.log('currentPage',currentPage)
// Function to handle pagination
//function navigateToPage(pageNumber) {
  // Perform logic to navigate to the specified page
//  retrieveFilterValues(); // Retrieve filter values before navigating to the page
//}


// Previous button event listener
prevBtn.addEventListener("click", (e) => {
  e.preventDefault();
  navigateToPage(Number(currentPage) - 1);
});

// Next button event listener
nextBtn.addEventListener("click", (e) => {
  e.preventDefault();
  navigateToPage(Number(currentPage) + 1);
});

// Function to handle pagination
function navigateToPage(pageNumber) {
  // Perform logic to navigate to the specified page
  const limitPerPage = 10; // Replace with your limit per page value
  const url = `/pets?page=${pageNumber}&limit=${limitPerPage}`;
  
  // Perform additional logic if needed, such as making an API request or updating the UI
  
  window.location.href = url; // Navigate to the specified page
}



 // On page load, retrieve filter values
 window.addEventListener("load", retrieveFilterValues);





    //let paginationBtn = document.querySelector(".pagination-btn");
  
    //let filterPetStatus = document.querySelector("#petStatus");
    //let filterSpecies = document.querySelector("#species");
    //let filterGender = document.querySelector("#gender");
    //let filterBreed = document.querySelector("#petBreed");
    //let filterColor = document.querySelector("#color");
    //let filterDistance = document.querySelector("#distance");
    //let filterAge = document.querySelector("#age");
    //let filterCoat = document.querySelector("#coat");
    //let filterSize = document.querySelector("#size");
    //let filterIdentifier = document.querySelector("#identifier");
    //let filterRegion = document.querySelector("#region");
    //let filterLostDate = document.querySelector("#lostdate");
  

 
    //function clearFormFilterValues() {
    //  filterPetStatus.selectedIndex = -1;
     // filterSpecies.selectedIndex = -1;
     // filterGender.selectedIndex = -1;
     // filterBreed.selectedIndex = -1;
    //  filterColor.selectedIndex = -1;
    //  filterDistance.value = "";
    //  filterAge.selectedIndex = -1;
    //  filterCoat.selectedIndex = -1;
     // filterSize.selectedIndex = -1;
     // filterIdentifier.value = "";
     // filterRegion.selectedIndex = -1;
     // filterLostDate.value = "";
   // }

   //function clearFormFilterValues() {
   // filterPetStatus.selectedIndex = 0;
   // filterSpecies.selectedIndex = 0;
   // filterGender.selectedIndex = 0;
   // filterBreed.selectedIndex = 0;
   // filterColor.selectedIndex = 0;
   // filterDistance.value = "";
   // filterAge.selectedIndex = 0;
   // filterCoat.selectedIndex = 0;
   // filterSize.selectedIndex = 0;
   // filterIdentifier.value = "";
   // filterRegion.selectedIndex = 0;
   // filterLostDate.value = "";
 // }


   // resetFormBtn.addEventListener("click", (e) => {
   //   e.preventDefault()
   //   clearFormFilterValues()
    
   // })

    //searchFormBtn.addEventListener("submit", (e) => {
    //  e.preventDefault()
   // })

//const inputPageNumber = document.querySelector('#inputPageNumber');
//inputPageNumber.addEventListener('keyup', function(event) {
  //if (event.key === 'Enter') {
    // Enter key was pressed
  //  goToPage();
  //}
//});

// Example search function
//function goToPage() {
  // Perform search operation
 // console.log('go to page!');
//}

</script>
<script>
  const TOMTOMTOKEN = "<%-process.env.TOMTOM_API_KEY%>";
  const pets = {features: <%-JSON.stringify(pets)%>}
  const selectedPolygonCoordinates = {features: <%-JSON.stringify(selectedPolygonCoordinates)%>}
</script>

<script src="/javascripts/clusterMap.js"></script>
