<% layout('layouts/boilerplate')%>
<h1 class="text-center">Compare pets</h1>

<div class="row">
  <div class="col-md-12 mb-3">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 g-3">
      <% for (let pet of pets) { %>

      <div class="col">
        <div class="card shadow-sm pet-card">
          <a
            href="/pets/<%=pet._id%>"
            style="text-decoration: none; color: #d4d4d4"
          >
            <div>
              <% if(pet.images.length) {%>

              <!-- <img src="<=pet.image.url%>" alt="<=pet.title%>" /> -->
              <img
                src="<%=pet.images[0].url%>"
                class="bd-placeholder-img card-img-top"
                alt=""
                width="100%"
                max-height="225"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              />

              <% } else { %>
              <img class="img-fluid" src="/images/placeholder.jpg" alt="" />

              <% } %>
            </div>
          </a>
          <div class="card mb-3" style="border-radius: 0">
            <div class="card-body">
              <!-- <h5 class="card-title"><b>Name:</b> <= pet.title %></h5> -->

              <ul class="list-group list-group-flush show-pet-list">
                <!-- <li class="list-group-item">
              <b>Last seen in:</b> <span id="pet-location"> <= pet.location %></span>
            </li> -->

                <!-- <li class="list-group-item" style="text-transform: capitalize">
                  <b>
                    < if (pet.petStatus === "Found") { %> Finder's Name: < }
                    else { %> Owner's Name: < } %></b
                  >
                  <= pet.author.username %>
                </li> -->
                <li class="list-group-item" style="text-transform: capitalize">
                  <b>Pet's Name:</b> <%= pet.title %>
                </li>
                <li class="list-group-item">
                  <b>Species:</b
                  ><span id="pet-species"> <%= pet.species %></span>
                </li>
                <li class="list-group-item"><b>Breed:</b> <%= pet.breed %></li>
                <li class="list-group-item">
                  <b>Coat Pattern:</b> <%= pet.pattern %>
                </li>
                <li class="list-group-item">
                  <b>Pet's Gender: </b><%= pet.gender %>
                </li>
                <!-- <li class="list-group-item">
                  <b>First Color:</b> <= pet.color[0] %>
                </li> -->
                <!-- < if (pet.color.length > 1) {%>
                <li class="list-group-item">
                  <b>
                    < if (pet.pattern === "Pointed") { %> Point Color: < }
                    else if (pet.pattern === "Spotted") { %> Spot Color: < }
                    else if (pet.pattern === "Striped") { %> Stripe Color: < }
                    else { %> Second Color: < } %>
                  </b>
                  <= pet.color[1] %>
                </li>
                < } %> < if (pet.color.length > 2) {%>
                <li class="list-group-item">
                  <b>Third Color:</b> <= pet.color[2] %>
                </li>
                < } %> -->

                <!-- <li class="list-group-item">
                  <b>Last Seen:</b> <= lostDateInWords %>
                </li> -->
                <li class="list-group-item"><b>Age:</b> <%= pet.age %></li>
                <li class="list-group-item">
                  <b>Coat Type:</b> <%= pet.coat %>
                </li>
                <li class="list-group-item">
                  <b>Pet's Size:</b> <%= pet.size %>
                </li>
                <li class="list-group-item">
                  <b>Status:</b>
                  <span id="pet-status"> <%= pet.petStatus %></span>
                </li>
                <!-- <li class="list-group-item d-none">
                  <b>Lat: </b><span class="pet-latitude"><=pet.latitude%></span
                  ><b>Lng: </b
                  ><span class="pet-longitude"><=pet.longitude%></span>
                </li> -->
                <li class="list-group-item">
                  <b>Identifier:</b> <%= pet.identifier %>
                </li>
                <li class="list-group-item" style="min-height: 300px">
                  <p class="card-text">
                    <b>Description:</b>
                    <span id="pet-description"> <%= pet.description %></span>
                  </p>
                </li>
              </ul>
            </div>
            <div class="d-flex flex-column">
              <!-- <div class="card-footer small text-muted">
                Added <=createDateInWords%>
              </div>
              <div class="card-footer small text-muted">
                Updated <=updateDateInWords%>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <!--- -->
      <!-- <div class="col">
        <li class="list-group-item" style="text-transform: capitalize">
          <b>Pet's Name:</b>
        </li>
        <li class="list-group-item">
          <b>Species:</b><span id="pet-species"></span>
        </li>
        <li class="list-group-item"></li>
        <li class="list-group-item">
          <b>Coat Pattern:</b>
        </li>
        <li class="list-group-item">
          <b>Pet's Gender: </b>
        </li>

        <li class="list-group-item"><b>Age:</b></li>
        <li class="list-group-item">
          <b>Coat Type:</b>
        </li>
        <li class="list-group-item">
          <b>Pet's Size:</b>
        </li>
        <li class="list-group-item">
          <b>Status:</b>
          <span id="pet-status"> </span>
        </li>
        <li class="list-group-item d-none">
          <b>Lat: </b><span class="pet-latitude"><=pet.latitude%></span
          ><b>Lng: </b
          ><span class="pet-longitude"><=pet.longitude%></span>
        </li> -->
        <!-- <li class="list-group-item">
          <b>Identifier:</b>
        </li>
        <li class="list-group-item" style="min-height: 300px">
          <p class="card-text">
            <b>Description:</b>
            <span id="pet-description"> </span>
          </p>
        </li> -->
      </div> 
    </div>
  </div>
</div>
