<% layout('layouts/boilerplate')%>
<h1 class="text-center">Compare pets</h1>

<div class="row">
  <div class="col-md-12 mb-3">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 g-3">
      <% for (let pet of pets) { %>

      <div class="col">
        <div class="card shadow-sm pet-card">
          <a
            href="/pets/<%=pet._id%>"
            style="text-decoration: none; color: #d4d4d4"
          >
            <div>
              <% if(pet.images.length) {%>
              <img
                src="<%=pet.images[0].url%>"
                class="bd-placeholder-img card-img-top"
                alt=""
                width="100%"
                max-height="225"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              />

              <% } else { %>
              <img class="img-fluid" src="/images/placeholder.jpg" alt="" />

              <% } %>
            </div>
          </a>
          <div class="card mb-3" style="border-radius: 0">
            <div class="card-body">
        

              <ul class="list-group list-group-flush show-pet-list">
          
                <li class="list-group-item" style="text-transform: capitalize">
                  <b>Pet's Name:</b> <%= pet.title %>
                </li>
                <li class="list-group-item">
                  <b>Species:</b
                  ><span id="pet-species"> <%= pet.species %></span>
                </li>
                <li class="list-group-item"><b>Breed:</b> <%= pet.breed %></li>
                <li class="list-group-item">
                  <b>Coat Pattern:</b> <%= pet.pattern %>
                </li>
                <li class="list-group-item">
                  <b>Pet's Gender: </b><%= pet.gender %>
                </li>
                
                <li class="list-group-item"><b>Age:</b> <%= pet.age %></li>
                <li class="list-group-item">
                  <b>Coat Type:</b> <%= pet.coat %>
                </li>
                <li class="list-group-item">
                  <b>Pet's Size:</b> <%= pet.size %>
                </li>
                <li class="list-group-item">
                  <b>Status:</b>
                  <span id="pet-status"> <%= pet.petStatus %></span>
                </li>
        
                <li class="list-group-item">
                  <b>Identifier:</b> <%= pet.identifier %>
                </li>
                <li class="list-group-item" style="min-height: 300px">
                  <p class="card-text">
                    <b>Description:</b>
                    <span id="pet-description"> <%= pet.description %></span>
                  </p>
                </li>
              </ul>
            </div>
          
          </div>
        </div>
      </div>
      <% } %>

   
      </div> 
    </div>
  </div>
</div>
