<% layout('layouts/boilerplate')%>
<h1 class="text-center fs-3"><%= feedbackPage.titles.section1 %></h1>
<main class="m-auto custom-feedback-container">
  <form action="/about/feedback" method="POST" class="row g-3" id="feedback-form">
    <div class="col-sm-12 col-md-6">
      <label for="firstName" class="form-label"><%= feedbackPage.labels.firstName %></label>
      <input type="text" class="form-control" id="firstName" placeholder="" value="" required name="firstname" />
      <div class="invalid-feedback">Valid first name is required.</div>
    </div>

    <div class="col-sm-12 col-md-6">
      <label for="lastName" class="form-label"><%= feedbackPage.labels.lastName %></label>
      <input type="text" class="form-control" id="lastName" placeholder="" value="" required name="lastname" />
      <div class="invalid-feedback">Valid last name is required.</div>
    </div>

    <div class="col-sm-12 col-md-12">
      <label for="country" class="form-label"><%= feedbackPage.labels.subject %></label>

      <div class="input-group has-validation">
        <span class="input-group-text"><i class="bi bi-clipboard-check"></i></span>
        <select class="form-control" style="max-width: 50%" id="country" required name="subject">
          <% selectOptions.subject.forEach(option => { %>
          <option value="<%= option.value %>"><%= option.text %></option>
          <% }); %>
        </select>
        <!-- <div class="invalid-feedback">Please select a subject.</div> -->
        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
        <input style="max-width: 50%" type="email" class="form-control" id="email" placeholder="you@example.com" value="" required name="name" />
        <div class="invalid-feedback">Please enter a valid email address.</div>
      </div>
    </div>

    <div class="col-12">
      <label for="description" class="form-label"><%= feedbackPage.labels.message %></label>
      <textarea class="form-control" id="description" aria-label="With textarea" style="height: 100px" name="description" noresize></textarea>
    </div>

    <div class="col-12 justify-content-center align-items-center">
      <div class="d-flex justify-content-center">
        <div class="g-recaptcha" data-sitekey="6LebhScnAAAAAILfjKxK5d6Yqunt1wjTBiIQPoDi"></div>
      </div>
    </div>
    <button class="w-100 btn btn-primary btn-lg"><%= feedbackPage.buttons.send %></button>
  </form>
</main>
