<% layout('layouts/boilerplate')%>
<h1 class="text-center mb-4"><%= feedbackPage.titles.section1 %></h1>
<main class="m-auto custom-feedback-container">
  <form action="/about/feedback" method="POST" class="row g-3" id="feedback-form">
    <div class="row g-3 mb-3">
      <div class="col-6">
        <label for="firstName" class="form-label"><%= feedbackPage.labels.firstName %></label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required name="firstname" />
        <div class="invalid-feedback">Valid first name is required.</div>
      </div>

      <div class="col-6">
        <label for="lastName" class="form-label"><%= feedbackPage.labels.lastName %></label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required name="lastname" />
        <div class="invalid-feedback">Valid last name is required.</div>
      </div>

      <div class="col-6">
        <label for="country" class="form-label"><%= feedbackPage.labels.subject %></label>
        <select class="form-select" id="country" required name="subject">
          <% selectOptions.subject.forEach(option => { %>
          <option value="<%= option.value %>"><%= option.text %></option>
          <% }); %>
        </select>
        <div class="invalid-feedback">Please select a subject.</div>
      </div>

      <div class="col-6">
        <label for="email" class="form-label"><%= feedbackPage.labels.email %></label>
        <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" />
        <div class="invalid-feedback">Please enter a valid email address.</div>
      </div>

      <div class="col-12">
        <label for="description" class="form-label"><%= feedbackPage.labels.message %></label>
        <textarea class="form-control" id="description" aria-label="With textarea" name="description"></textarea>
      </div>
    </div>

    <div class="col-12 justify-content-center align-items-center">
      <div class="d-flex justify-content-center">
        <div class="g-recaptcha" data-sitekey="6LebhScnAAAAAILfjKxK5d6Yqunt1wjTBiIQPoDi"></div>
      </div>
    </div>
    <button class="w-100 btn btn-primary btn-lg"><%= feedbackPage.buttons.send %></button>
  </form>
</main>
