<% layout('layouts/boilerplate')%>

<div class="container pb-5" id="icon-grid">
  <!-- Our Goal Section -->
  <h1 class="text-center"><%= aboutPage.titles.section1 %></h1>
  <p class="custom-about-text"><%= aboutPage.descriptions.section1 %></p>
  <p class="custom-about-text"><%= aboutPage.descriptions.section2 %></p>

  <h2 class="pb-2 text-center"><%= aboutPage.titles.section2 %></h2>

  <!-- Features Section -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
    <!-- Feature 1 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#cpu-fill"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= aboutPage.titles.section3 %></h3>
        <p class="custom-about-text"><%= aboutPage.descriptions.section3 %></p>
      </div>
    </div>
    <!-- Feature 2 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#bi-heart-pulse-fill"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= aboutPage.titles.section4 %></h3>
        <p class="custom-about-text"><%= aboutPage.descriptions.section4 %></p>
      </div>
    </div>
    <!-- Feature 3 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#tools"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= aboutPage.titles.section5 %></h3>
        <p class="custom-about-text"><%= aboutPage.descriptions.section5 %></p>
      </div>
    </div>
    <!-- Feature 4 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#bi-ui-checks"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= aboutPage.titles.section6 %></h3>
        <p class="custom-about-text"><%= aboutPage.descriptions.section6 %></p>
      </div>
    </div>
    <!-- Feature 5 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#bi-card-heading"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= aboutPage.titles.section7 %></h3>
        <p class="custom-about-text"><%= aboutPage.descriptions.section7 %></p>
      </div>
    </div>
    <!-- Feature 6 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#bi-share-fill"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= aboutPage.titles.section8 %></h3>
        <p class="custom-about-text"><%= aboutPage.descriptions.section8 %></p>
      </div>
    </div>
    <!-- Feature 7 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#toggles2"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= aboutPage.titles.section9 %></h3>
        <p class="custom-about-text"><%= aboutPage.descriptions.section9 %></p>
      </div>
    </div>
    <!-- Feature 8 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#geo-fill"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= aboutPage.titles.section10 %></h3>
        <p class="custom-about-text"><%= aboutPage.descriptions.section10 %></p>
      </div>
    </div>
    <!-- Feature 9 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#bi-file-earmark-pdf-fill"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= aboutPage.titles.section11 %></h3>
        <p class="custom-about-text"><%= aboutPage.descriptions.section11 %></p>
      </div>
    </div>
  </div>

  <!-- Support and Feedback Section -->
  <div class="row align-items-md-stretch">
    <div class="col-md-6 mt-3">
      <div class="h-100 p-4 text-bg-dark rounded-3 d-flex flex-column align-items-center justify-content-between">
        <div>
          <h2 class="text-center"><%= aboutPage.titles.section12 %></h2>
          <p class="custom-about-text"><%= aboutPage.descriptions.section12 %></p>
        </div>
        <button onClick="location.href='about/support'" class="btn btn-warning col-lg-4 col-md-6 col-sm-6" type="button"><%= aboutPage.buttons.support %></button>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="h-100 p-4 bg-light border rounded-3 d-flex flex-column align-items-center justify-content-between">
        <div>
          <h2 class="text-center"><%= aboutPage.titles.section13 %></h2>
          <p class="custom-about-text"><%= aboutPage.descriptions.section13 %></p>
        </div>
        <button onClick="location.href='about/feedback'" class="btn btn-secondary col-lg-4 col-md-6 col-sm-6" type="button"><%= aboutPage.buttons.leaveFeedback %></button>
      </div>
    </div>
  </div>

  <!-- Sponsors Section -->
  <div class="col-md-12 mt-5">
    <h2 class="text-center"><%= aboutPage.titles.section14 %></h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <!-- Sponsor 1 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/1.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 2 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/2.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 3 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/3.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 4 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/4.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 5 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/5.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 6 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/6.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 7 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/7.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 8 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/8.png" class="card-img-top" alt="..." />
        </div>
      </div>
    </div>
    <p class="custom-about-text small text-muted mt-2"><%= aboutPage.descriptions.section14 %></p>
  </div>
</div>
