<% layout('layouts/boilerplate')%>

<div class="container pb-5" id="icon-grid">
  <!-- Our Goal Section -->
  <h1 class="text-center"><%= about.ourGoalTitle %></h1>
  <p class="custom-about-text"><%= about.ourGoalText1 %></p>
  <p class="custom-about-text"><%= about.ourGoalText2 %></p>

  <h2 class="pb-2 text-center"><%= about.featureTitle %></h2>

  <!-- Features Section -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
    <!-- Feature 1 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#cpu-fill"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= about.featureSubtitle1 %></h3>
        <p class="custom-about-text"><%= about.featureText1 %></p>
      </div>
    </div>
    <!-- Feature 2 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#bi-heart-pulse-fill"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= about.featureSubtitle2 %></h3>
        <p class="custom-about-text"><%= about.featureText2 %></p>
      </div>
    </div>
    <!-- Feature 3 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#tools"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= about.featureSubtitle3 %></h3>
        <p class="custom-about-text"><%= about.featureText3 %></p>
      </div>
    </div>
    <!-- Feature 4 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#bi-ui-checks"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= about.featureSubtitle4 %></h3>
        <p class="custom-about-text"><%= about.featureText4 %></p>
      </div>
    </div>
    <!-- Feature 5 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#bi-card-heading"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= about.featureSubtitle5 %></h3>
        <p class="custom-about-text"><%= about.featureText5 %></p>
      </div>
    </div>
    <!-- Feature 6 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#bi-share-fill"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= about.featureSubtitle6 %></h3>
        <p class="custom-about-text"><%= about.featureText6 %></p>
      </div>
    </div>
    <!-- Feature 7 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#toggles2"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= about.featureSubtitle7 %></h3>
        <p class="custom-about-text"><%= about.featureText7 %></p>
      </div>
    </div>
    <!-- Feature 8 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#geo-fill"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= about.featureSubtitle8 %></h3>
        <p class="custom-about-text"><%= about.featureText8 %></p>
      </div>
    </div>
    <!-- Feature 9 -->
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#bi-file-earmark-pdf-fill"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"><%= about.featureSubtitle9 %></h3>
        <p class="custom-about-text"><%= about.featureText9 %></p>
      </div>
    </div>
  </div>

  <!-- Support and Feedback Section -->
  <div class="row align-items-md-stretch">
    <div class="col-md-6 mt-3">
      <div class="h-100 p-4 text-bg-dark rounded-3 d-flex flex-column align-items-center justify-content-between">
        <div>
          <h2 class="text-center"><%= about.supportOurProjectTitle %></h2>
          <p class="custom-about-text"><%= about.supportOurProjectText %></p>
        </div>
        <button onClick="location.href='about/support'" class="btn btn-warning col-lg-4 col-md-6 col-sm-6" type="button"><%= about.supportBtn %></button>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="h-100 p-4 bg-light border rounded-3 d-flex flex-column align-items-center justify-content-between">
        <div>
          <h2 class="text-center"><%= about.shareYourThoughtsTitle %></h2>
          <p class="custom-about-text"><%= about.shareYourThoughtsText %></p>
        </div>
        <button onClick="location.href='about/feedback'" class="btn btn-secondary col-lg-4 col-md-6 col-sm-6" type="button"><%= about.leaveFeedbackBtn %></button>
      </div>
    </div>
  </div>

  <!-- Sponsors Section -->
  <div class="col-md-12 mt-5">
    <h2 class="text-center"><%= about.sponsorsTitle %></h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <!-- Sponsor 1 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/1.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 2 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/2.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 3 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/3.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 4 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/4.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 5 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/5.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 6 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/6.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 7 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/7.png" class="card-img-top" alt="..." />
        </div>
      </div>
      <!-- Sponsor 8 -->
      <div class="col">
        <div class="card h-100">
          <img src="/images/sponsors/8.png" class="card-img-top" alt="..." />
        </div>
      </div>
    </div>
    <p class="custom-about-text small text-muted mt-2"><%= about.sponsorsText %></p>
  </div>
</div>
