<% layout('layouts/boilerplate')%>
<h1 class="text-center mb-4"><%= supportPage.titles.section1 %></h1>
<div class="container my-5">
  <div class="text-center">
    <p class="col-lg-12 mx-auto fs-5 text-muted custom-about-text"><%= supportPage.descriptions.section1 %></p>

    <a class="btn btn-warning btn-lg fw-bold" href="https://www.paypal.com/donate/?hosted_button_id=7WJJTEM6TM84N"><%= supportPage.buttons.donate %></a>
  </div>
</div>
<div class="container px-4 py-5">
  <h2 class="text-center pb-2"><%= supportPage.titles.section2 %></h2>
  <p class="col-lg-12 mx-auto fs-5 text-muted custom-about-text"><%= supportPage.descriptions.section2 %></p>
  <div class="row row-cols-1 row-cols-md- align-items-md-center g-5 py-5">
    <div class="row row-cols-1 row-cols-sm-2 g-4">
      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/expressjslogo.png" width="auto" height="50px" />
        </div>
        <a href="https://expressjs.com/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis"><%= supportPage.links.section1 %></h4></a>
        <p class="text-body-secondary custom-about-text"><%= supportPage.descriptions.section3 %></p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/tomtomlogo.png" width="auto" height="50px" />
        </div>
        <a href="https://expressjs.com/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis"><%= supportPage.links.section2 %></h4></a>
        <p class="text-body-secondary custom-about-text"><%= supportPage.descriptions.section4 %></p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/nodejslogo.png" width="auto" height="50px" />
        </div>
        <a href="https://nodejs.org/en" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis"><%= supportPage.links.section3 %></h4></a>
        <p class="text-body-secondary custom-about-text"><%= supportPage.descriptions.section5 %></p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/monggodblogo.png" width="auto" height="50px" />
        </div>
        <a href="https://www.mongodb.com/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis"><%= supportPage.links.section4 %></h4></a>
        <p class="text-body-secondary custom-about-text"><%= supportPage.descriptions.section6 %></p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/cloudinarylogo.png" width="auto" height="50px" />
        </div>
        <a href="https://cloudinary.com/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis"><%= supportPage.links.section5 %></h4></a>
        <p class="text-body-secondary custom-about-text"><%= supportPage.descriptions.section7 %></p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/ejslogo.png" width="auto" height="50px" />
        </div>
        <a href="https://ejs.co/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis"><%= supportPage.links.section6 %></h4></a>
        <p class="text-body-secondary custom-about-text"><%= supportPage.descriptions.section8 %></p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/bootstraplogo.png" width="auto" height="50px" />
        </div>
        <a href="https://getbootstrap.com/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis"><%= supportPage.links.section7 %></h4></a>
        <p class="text-body-secondary custom-about-text"><%= supportPage.descriptions.section9 %></p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/cycliclogo.png" width="auto" height="50px" />
        </div>
        <a href="https://www.cyclic.sh/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis"><%= supportPage.links.section8 %></h4></a>
        <p class="text-body-secondary custom-about-text"><%= supportPage.descriptions.section10 %></p>
      </div>

      <!-- curently sendgrid is not used, but its more powerfull then nodemailer -->
      <!-- <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
            <img class="bi" src="/images/sendgridlogo.png" width="auto" height="50px" />
          </div>
           <a href="#" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis">SendGrid - Email Delivery and Management Service</h4></a>
          <p class="text-body-secondary custom-about-text">
            SendGrid is a powerful email delivery and management service that enables you to reliably send emails, track their delivery, and manage your email campaigns. With SendGrid's robust API and intuitive interface, you can easily integrate email functionality into your applications and ensure high deliverability rates. Whether it's transactional emails, marketing campaigns, or automated notifications, SendGrid provides the tools you need to effectively communicate with your users.
          </p>
        </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- <p>
  PayPal Donations: PayPal offers a donation feature that allows you to create a donation button or link on your website. Users can securely donate funds using their PayPal account or credit/debit card. Stripe Payments: Stripe provides a payment processing platform that allows you to accept donations directly on your website. It offers a flexible API that you can integrate into your web app to handle donation transactions securely. Donorbox: Donorbox is a dedicated donation platform that enables nonprofits and
  individuals to collect donations online. It provides customizable donation forms, recurring donation options, and integration with popular payment gateways. GoFundMe: GoFundMe is a popular crowdfunding platform where individuals and organizations can create fundraising campaigns. You can create a campaign specifically for your web app's development and share it with your audience to encourage donations. Patreon: Patreon is a membership platform that allows creators to receive recurring payments from their fans
  and supporters. If you're providing valuable content or additional benefits to your users, you can set up a Patreon page and offer different membership tiers that include donation options. Ko-fi: Ko-fi is a platform that enables creators to receive one-time "coffee" donations from their audience. It's a simple and user-friendly way to accept small donations as a form of support
</p> -->
