<% layout('layouts/boilerplate')%>

<div class="container px-4" id="custom-cards">
  <div class="d-flex justify-content-between">
    <h2 class="pb-2"><%= servicesLocale.serviceTitle %></h2>
    <div>
      <button class="btn btn-warning" onClick="location.href='/services/new'"><i class="bi bi-plus-circle"></i> <%= servicesLocale.addServiceBtn %></button>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 align-items-stretch g-4 py-5">
    <% for (let service of services) {%>
    <div class="col">
      <a class="text-decoration-none" href="/services/<%=service._id%>">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
          <div class="d-flex flex-row flex-md-column-reverse p-3 pb-3 text-white text-shadow-1">
            <div class="d-flex justify-content-center align-items-center">
              <svg class="bi" width="50" height="50" fill="#fff">
                <use xlink:href="#<%=service.icon%>"></use>
              </svg>
            </div>
            <div class="d-flex w-100 flex-md-column justify-content-between align-items-center ps-3 no-padding-md">
              <p class="fw-bold small text-center m-0"><%= service.translatedName %></p>
              <p class="fw-bold small text-center m-0"><%= service.serviceProviders.length %></p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <% } %>
  </div>
</div>
