<% layout('layouts/boilerplate')%>
<style>
  @media (min-width: 768px) {
    .no-padding-md {
      padding-left: 0 !important;
    }
  }
</style>
<div class="container px-4" id="custom-cards">
  <div class="d-flex justify-content-between">
    <h2 class="pb-2"><%= servicesLocale.serviceTitle %></h2>
    <div>
      <button class="btn btn-warning" onClick="location.href='/services/new'"><i class="bi bi-plus-circle"></i> <%= servicesLocale.addServiceBtn %></button>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 align-items-stretch g-4 py-5">
    <% for (let service of services) {%>

    <div class="col">
      <a href="/services/<%=service._id%>" style="text-decoration: none">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
          <!-- remove style if dont want background (from div I removed h-100)-->
          <!-- <div
            class="d-flex flex-column p-3 pb-3 text-white text-shadow-1"
            style="
              background-image: url(../images/paw.png);
              background-size: cover;
              background-position: center;
              min-height: 200px;
            "
          > -->
          <div class="d-flex flex-row flex-md-column-reverse p-3 pb-3 text-white text-shadow-1">
            <div class="d-flex justify-content-center align-items-center">
              <svg class="bi" width="50" height="50" fill="#fff">
                <use xlink:href="#<%=service.icon%>"></use>
              </svg>
            </div>
            <div class="d-flex w-100 flex-md-column justify-content-between align-items-center ps-3 no-padding-md">
              <p class="fw-bold text-center m-0"><%= service.name %></p>
              <p class="fw-bold text-center m-0"><%=service.serviceProviders.length %></p>
            </div>
            <!-- <div class="d-flex justify-content-end align-items-center"><=service.serviceProviders.length %> <i class="bi bi-send-fill"></i></div> -->
          </div>
        </div>
      </a>
    </div>

    <% } %>
  </div>
</div>
