<% layout('layouts/boilerplate')%>

<div class="container" id="custom-cards">
  <h1 class="text-center fs-3"><%= servicesPage.titles.section1 %></h1>

  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 align-items-stretch g-4 py-4">
    <% for (let service of services) {%>
    <div class="col">
      <a class="text-decoration-none" href="/services/<%=service.slug%>">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
          <div class="d-flex flex-row flex-md-column-reverse p-3 pb-3 text-white text-shadow-1">
            <div class="d-flex justify-content-center align-items-center">
              <svg class="bi" width="50" height="50" fill="#fff">
                <use xlink:href="#<%=service.icon%>"></use>
              </svg>
            </div>
            <div class="d-flex w-100 flex-column ps-3 justify-content-center align-items-start no-padding-md">
              <p class="small m-0"><%= service.translatedName %></p>

              <p class="small text-center m-0" style="color: #ced4da"><%= service.serviceProviders.length %> services</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <% } %>
  </div>
</div>
