<% layout('layouts/boilerplate')%>
<h1 class="text-center fs-3 mb-3"><%= newServicesPage.titles.section1 %></h1>
<form class="needs-validation" novalidate="" action="/services" method="POST"  enctype="multipart/form-data">
  <div class="row g-3">
    <div class="col-sm-12 col-md-6">
     
      <label for="firstName" class="form-label"><%= newServicesPage.labels.orgIndName %></label>

      <div class="input-group has-validation">
        <span class="input-group-text"><i class="bi bi-buildings"></i></span>

        <select class="form-select" style="max-width: 30%;"  id="petStatus" required name="serviceProviderType">
          <% selectOptions.serviceType.forEach(option => { %>
          <option value="<%= option.value %>"><%= option.text %></option>
          <% }); %>
        </select>

      <input
      style="max-width: 70%;"
        type="text"
        class="form-control"
        id="firstName"
        placeholder=""
        value=""
        required=""
        name="name"
      />
      <div class="invalid-feedback">Valid first name is required.</div>
    </div>
  </div>
    <div class="col-sm-12 col-md-6">
      <label for="state" class="form-label"></i> <%= newServicesPage.labels.serviceType %></label>
        <div class="input-group has-validation">
        <span class="input-group-text"><i class="bi bi-x-diamond-fill"></i></span>
      <select class="form-select" id="state" required="" name="serviceName">
        <option value="animal-shelters">Animal Shelters</option>
        <option value="cat-cafe">Cat Cafe</option>
        <option value="dog-walking">Dog Walking</option>
        <option value="pet-art">Pet Art</option>
        <option value="pet-boarding">Pet Boarding</option>
        <option value="pet-burial-services">Pet Burial Services</option>
        <option value="pet-expo">Pet Expo</option>
        <option value="pet-friendly-accommodation">Pet Friendly Accommodation</option>
        <option value="pet-friendly-restaurants">Pet Friendly Restaurants</option>
        <option value="pet-grooming">Pet Grooming</option>
        <option value="pet-photography">Pet Photography</option>
        <option value="pet-breeders">Pet Breeders</option>
        <option value="pet-search">Pet Search</option>
        <option value="pet-sitting">Pet Sitting</option>
        <option value="pet-supplies">Pet Supplies</option>
        <option value="pet-training">Pet Training</option>
        <option value="pet-transportation">Pet Transportation</option>
        <option value="veterinary-services">Veterinary Services</option>
        <option value="pet-insurance">Pet Insurance</option>
        <option value="legal-services">Legal Services</option>
      </select>
      <div class="invalid-feedback">Please provide a valid service.</div>
    </div>
  </div>
    <div class="col-sm-12 col-md-6">
      <label for="website" class="form-label"><%= newServicesPage.labels.website %></label>
      <div class="input-group has-validation">
      <span class="input-group-text"><i class="bi bi-globe-americas"></i></span>
      <input
        type="text"
        class="form-control"
        id="website"
        placeholder="www.example.com"
        value=""
        required=""
        name="website"
      />
    
      <div class="invalid-feedback">Valid last name is required.</div>
    </div>
    </div>

    <div class="col-12 col-md-6">
      <label for="username" class="form-label"><%= newServicesPage.labels.facebook %></label>
      <div class="input-group has-validation">
        <span class="input-group-text"><i class="bi bi-facebook"></i></span>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="username"
          required=""
          name="facebook"
        />
        <div class="invalid-feedback">Your username is required.</div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label for="username" class="form-label"><%= newServicesPage.labels.instagram %></label>
      <div class="input-group has-validation">
        <span class="input-group-text"><i class="bi bi-instagram"></i></span>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="username"
          required=""
          name="instagram"
        />
        <div class="invalid-feedback">Your username is required.</div>
      </div>
    </div>
      
    
    <div class="col-12 col-md-6">
      <label for="email" class="form-label"
        ><%= newServicesPage.labels.email %></label
      >
      <div class="input-group has-validation">
      <span class="input-group-text"><i class="bi bi-envelope"></i></span>
      
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="you@example.com"
        name="email"
      />
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>
    </div>
    <div class="col-12 col-md-6">
      <label for="email" class="form-label"
        ><%= newServicesPage.labels.phone %></label
      >
      <div class="input-group has-validation">
      <span class="input-group-text"><i class="bi bi-telephone"></i></span>

          <select class="form-select" style="max-width: 30%;" id="phonecodes" name="phonecode">
<% phoneCodeOptions.forEach(option => { %>
<option value="<%= option %>" <% if (option === currentUser.phoneCode) { %>selected<% } %>><%=option%></option>
<%}) %>
</select>
      <!-- <select class="form-control">
        <option value=""></option>
        <option value="+371">+371</option>
        <option value="+372">+372</option>
        <option value="+370">+370</option>
      </select> -->
      <!-- <input
      type="text"
      class="form-control"
      id="phonecodes"
      placeholder="+371"
      name="phonecode"
      style="max-width: 30%;"
    /> -->
      
      <input
      style="max-width: 70%;"
        type="text"
        class="form-control"
        id="phone"
        placeholder=""
        name="phone"
      />
      <div class="invalid-feedback">
        Please enter a valid phone number.
      </div>
    </div>
    </div>
    
  <div class="col-12 col-md-6">
    <label for="image" class="form-label"><%= newServicesPage.labels.uploadLogo %></label>
    <input
      class="form-control"
      type="file"
      id="image"
      name="logo"
      accept="image/png, image/jpeg, image/jpg"
    />
  </div>
    <div class="col-md-12">
      <label class="form-label" for="description"><%= newServicesPage.labels.description %></label>
      <textarea
        maxlength="400"
        style="resize: none; height: 140px"
        class="form-control"
        type="text"
        id="description"
        name="description"
        placeholder="Max 400 characters"
      ></textarea>
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="col-md-12">
     
        <label for="placemap" class="form-label"><%= newServicesPage.description.pleaseProvideLocation %></label>
 
  <div
  id="map"
  style="max-width: 100%; height: 300px; background-color: #808080"
></div>
</div>
   

  </div>

 
    <div class="col-md-2 col-sm-3 col-6 mb-3 d-none">
      <label class="form-label me-1" for="latitude">Latitude</label>
      <input
        id="latitude"
        class="form-control text-muted"
        type="number"
        aria-label="latitude"
        aria-describedby="latitude-label"
        name="user[latitude]"
        readonly
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
  
    <div class="col-md-2 col-sm-3 col-6 mb-3 d-none">
      <label class="form-label me-1" for="longitude">Longitude</label>
      <input
        id="longitude"
        class="form-control text-muted"
        type="number"
        aria-label="longitude"
        aria-describedby="longitude-label"
        name="user[longitude]"
        readonly
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
  </div>


  <button class="w-100 btn btn-primary btn-lg mt-5" type="submit">
    <%= newServicesPage.buttons.addService %>
  </button>
</form>
<div class="alert alert-success d-flex align-items-center mt-3" role="alert">
  <svg
    class="bi flex-shrink-0 me-2"
    role="img"
    aria-label="Success:"
    style="height: 1.5rem; width: 1.5rem"
    fill="#198754"
  >
    <use xlink:href="#info-fill" />
  </svg>
  <div>
    <%= newServicesPage.description.note %>
  </div>
</div>

<script>
  const TOMTOMTOKEN = "<%-process.env.TOMTOM_API_KEY%>";
</script>
<script src="/javascripts/addServiceMap.js"></script>