<% layout('layouts/boilerplate')%>
<div class="col-md-12 mb-3">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3 d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card mb-3 small">
        <div class="card-header d-flex justify-content-between">
          <div class="flex-shrink-0 dropdown"><% if (serviceProvider.serviceProviderType === 'Organization') { %> <i class="bi bi-buildings-fill"></i> <% } else { %> <i class="bi bi-person-fill"></i> <% } %></div>

          <div class="d-flex jusity-content-center align-items-center">
            <div class="d-flex jusity-content-center align-items-center" style="cursor: pointer">
              <a class="text-secondary" id="saveWatchlistServicesBtn" data-serviceid="<%= serviceProvider._id%>" style="font-size: 1.2rem; cursor: pointer">
                <% if (currentUser && serviceProvider._id && currentUser.favorites.length > 0 && currentUser.favorites.includes(serviceProvider._id)) { %>
                <i class="bi bi-bookmark-heart-fill" style="pointer-events: none"></i>
                <% } else { %>
                <i class="bi bi-bookmark-heart" style="pointer-events: none"></i>
                <% } %></a
              >
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <div class="d-flex justify-content-center">
              <% if (serviceProvider.logo[0].url) { %>

              <img src="<%= serviceProvider.logo[0].url %>" alt="mdo" width="100" height="100" class="rounded-circle me-2" />

              <% } else { %>
              <img src="/images/icons/user.png" alt="mdo" width="100" height="100" class="rounded-circle me-2" />
              <% } %>
            </div>

            <div class="col d-flex flex-column position-static">
              <h3 class="mb-0 text-center"><%= serviceProvider.name %></h3>
              <p class="mb-auto" style="text-align: justify"><%= serviceProvider.description %></p>
              <div class="mt-3">
                <ul class="list-group list-group-flush show-pet-list">
                  <p><%= serviceProviderPage.description.contacts %></p>
                  <div class="row ms-1">
                    <% if (serviceProvider.phone !== undefined && serviceProvider.phone !== null && serviceProvider.phone !== '') { %>
                    <div class="col-12 col-md-12 col-lg-12 mb-1">
                      <b><i class="bi bi-telephone-fill"></i> <%=serviceProviderPage.title.phone%> </b>
                      <a href="tel:<%=serviceProvider.phonecode%><%=serviceProvider.phone%>"><%=serviceProvider.phonecode%><%=serviceProvider.phone%></a>
                    </div>
                    <% } %> <% if (serviceProvider.email !== undefined && serviceProvider.email !== null && serviceProvider.email !== '') { %>
                    <div class="col-12 col-md-12 col-lg-12 mb-1">
                      <b><i class="bi bi-envelope-fill"></i> <%=serviceProviderPage.title.email%> </b>
                      <a href="mailto:<%= serviceProvider.email %>?subject=Hello%20World&body=I%20hope%20you%20are%20doing%20well."><%= serviceProvider.email %></a>
                    </div>
                    <% } %> <% if (serviceProvider.socialMedia !== undefined && serviceProvider.socialMedia.facebook !== null && serviceProvider.socialMedia.facebook !== '') { %>
                    <div class="col-12 col-md-12 col-lg-12 mb-1">
                      <b><i class="bi bi-facebook"></i> <%=serviceProviderPage.title.facebook%> </b>
                      <a target="_blank" href="https://www.facebook.com/<%=serviceProvider.socialMedia.facebook%>"><%= serviceProvider.socialMedia.facebook %></a>
                    </div>
                    <% } %> <% if (serviceProvider.socialMedia !== undefined && serviceProvider.socialMedia.instagram !== null && serviceProvider.socialMedia.instagram !== '') { %>
                    <div class="col-12 col-md-12 col-lg-12 mb-1">
                      <b><i class="bi bi-instagram"></i> <%=serviceProviderPage.title.instagram%> </b>
                      <a target="_blank" href="https://www.instagram.com/<%=serviceProvider.socialMedia.instagram%>"><%= serviceProvider.socialMedia.instagram %></a>
                    </div>
                    <% } %> <% if (serviceProvider.website !== undefined && serviceProvider.phowebsitene !== null && serviceProvider.website !== '') { %>
                    <div class="col-12 col-md-12 col-lg-12 mb-1">
                      <b><i class="bi bi-globe2"></i> <%=serviceProviderPage.title.website%> </b>
                      <a href="<%= serviceProvider.website %>" target="_blank"><%= serviceProvider.website %></a>
                    </div>
                    <% } %>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const saveFavorites = async (favoritesData) => {
    try {
      const response = await fetch('/user/favorites', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(favoritesData),
      });

      if (response.ok) {
        // Watchlist updated successfully
        console.log('Watchlist updated successfully');
      } else {
        throw new Error('Failed to update watchlist');
      }
    } catch (error) {
      console.error(error);
      // Handle error and display appropriate message
    }
  };

  const saveWatchlistServicesBtn = document.querySelector('#saveWatchlistServicesBtn');

  saveWatchlistServicesBtn.addEventListener('click', async (e) => {
    // Retrieve the selected pets from the UI
    const serviceId = e.currentTarget.getAttribute('data-serviceid');
    const selectedService = serviceId; /* Code to retrieve the selected pets from the UI */
    console.log('selectedService', selectedService);
    // Prepare the watchlist data to send in the request body
    const favoritesData = {
      service: selectedService,
    };
    console.log('favoritesData: ', favoritesData);

    await saveFavorites(favoritesData);
    location.reload();
  });
</script>
